<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to index.com  <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to index.com,
      your username is: <%= @user.first_name %>.<br>
    </p>
    <p>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
